:root {
  --body: #b0b8b4ff;
  --bloo: rgb(0, 200, 255);
}

@font-face {
  src: url("font/Pokemon\ Solid.ttf") format("truetype");
  font-family: "Pokemon";
}

@font-face {
  src: url("font/Pokemon\ Classic.ttf") format("truetype");
  font-family: "PokemonC";
}

body {
  background-color: let(--body);
  background-image: url(img/pokemon_b.jpeg);
  background-repeat: no-repeat;
  max-height: 1080px;
}
#log {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 40%);
  color: #ececec;
  font-family: "PokemonC";
  background-color: #ececec;
  padding: 10px;
  border: 10px solid white;
  border-radius: 20px;
  background-image: linear-gradient(#fdf8f7, #99ebf6);
}

label {
  z-index: 3;
  color: black;
}

#inscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 260px;
  background-color: #ececec;
  padding: 20px 30px;
  box-shadow: 0 40px 50px rgb(0 0 0 / 90%);
  z-index: 1000;
  transition: all 2s;
  font-family: "PokemonC";
  border: 10px solid white;
  border-radius: 20px;
  background-image: linear-gradient(#99ebf6, #f67445);
}

h1 {
  font-family: "Pokemon";
  color: White;
}

#passwordL {
  transform: translateX(48px);
}
.wrapper {
  background-color: rgba(255, 255, 255);
  position: relative;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  margin-bottom: 200px;
  padding: 30px;
  width: 100%;
  height: 10%;
  border-radius: 10%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  color: #000000;
  font-family: "PokemonC";
  max-width: 500px;
  background-color: #ececec;
  padding: 20px 20px;
  box-shadow: 0 40px 50px rgb(0 0 0 / 90%);
  z-index: 1000;
  transition: all 2s;
  font-family: "PokemonC";
  border: 10px solid white;
  border-radius: 20px;
  background-image: linear-gradient(#99ebf6, #f67445);
  text-align: center;
}

.pokemon {
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border: solid 8px #219e36;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin: 20px;
}

.pokemon img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
button {
  border: none;
  background-color: transparent;
}

.container {
	max-width: 640px;
	margin: 30px auto;
	background: #fff;
	border-radius: 8px;
	padding: 20px;
}

.comment {
	display: block;
	transition: all 1s;
}

.commentClicked {
	min-height: 0px;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 5px 10px
}

textarea {
	width: 100%;
	border: none;
	background: #E8E8E8;
	padding: 5px 10px;
	height: 50%;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 2px solid #016BA8;
	transition: all 0.5s;
	margin-top: 15px;
}

button.primaryContained {
	background: #016ba8;
	color: #fff;
	padding: 10px 10px;
	border: none;
	margin-top: 0px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 4px;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
	transition: 1s all;
	font-size: 10px;
	border-radius: 5px;
}

button.primaryContained:hover {
	background: #9201A8;
}